@font-face {
    font-family: 'Better Times Alt';
    src: url('BetterTimesAlt.eot');
    src: url('BetterTimesAlt.eot?#iefix') format('embedded-opentype'),
        url('BetterTimesAlt.woff2') format('woff2'),
        url('BetterTimesAlt.woff') format('woff'),
        url('BetterTimesAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Better Times Swash';
    src: url('BetterTimesSwash.eot');
    src: url('BetterTimesSwash.eot?#iefix') format('embedded-opentype'),
        url('BetterTimesSwash.woff2') format('woff2'),
        url('BetterTimesSwash.woff') format('woff'),
        url('BetterTimesSwash.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Better Times';
    src: url('BetterTimes.eot');
    src: url('BetterTimes.eot?#iefix') format('embedded-opentype'),
        url('BetterTimes.woff2') format('woff2'),
        url('BetterTimes.woff') format('woff'),
        url('BetterTimes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

