.kl-custom-col-20{
    width: 20%;
    @include media-breakpoint-down(xl){
        width: 25%;
    }
    @include media-breakpoint-down(md){
        width: 100%;
    }
}
.kl-section-filter-partener{
    .kl-form-check{
        & + .kl-form-check{
            margin-left: 19px;
        }
        label{
            font-size: 12px;
            font-weight: $semi_bold;
            line-height: 16px;
            color: $black;
            padding: 12.5px 12px;
            border-bottom: 1px solid $marron;
            white-space: nowrap;
            cursor: pointer;
        }
        input{
            appearance: none;
            opacity: 0;
            visibility: hidden;
            &:checked{
                & + label{
                    color: $marron;
                    border: 1px solid $marron;
                }
            }
        }
    }
}